<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Torneo de Lol Dominicana
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-page-bg" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-img src="assets/icon/lol.png" alt="Logo del Torneo LD"></ion-img>
    <h1>¡Bienvenido al Torneo!</h1>
    <p>Participa en nuestro torneo de League of Lengends</p>

    <ion-button expand="block" routerLink="/inscripcion" color="primary">
      Inscribirse al Torneo
    </ion-button>
  </div>

  <div class="ion-text-center" >
    
  </div>
</ion-content>
