<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lol Dominicana App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-page-bg" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-img src="assets/icon/lol.png" alt="Logo de LD"></ion-img>
    <h1>¡Bienvenido a Lol Dominicana!</h1>
    <p>Torneos de League of Legends y las últimas noticias de eSports, todo en un solo lugar.</p>

    <ion-button expand="block" routerLink="/inscripcion" color="primary">
      Ver noticias
    </ion-button>

    <ion-button expand="block" routerLink="/inscripcion" color="primary">
      Inscribirse al Torneo
    </ion-button>

  </div>

  <div class="ion-text-center" >
    
  </div>
</ion-content>
